.navbar{
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content:center;
}
.navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
}
.logo{
    font-weight: 500;
}